/schematics/uploaded

/kubejs/exported
/local/ftbchunks/data
config/jei/bookmarks.ini

/mods
/resourcepacks
/saves
/screenshots

/dumps/
/crash-reports/
/logs/
**/*.log
**/*.jar

/.mixin.out/
/coremods
/patchouli_books
/server-resource-packs
/shaderpacks
/texturepacks

patchouli_data.json
usercache.json
usernamecache.json

