# Configuration file

##########################################################################################################
# Impacts
#--------------------------------------------------------------------------------------------------------#
# Syntax: effectId 
# Syntax with a threshold: pollutionThreshold% -> effectId 
# 
# Pollution threshold is the minimum percentage of pollution to trigger the specified effect.
##########################################################################################################

Impacts {
    # List of entities with some immunity to pollution.
    # Syntax: pollutionThreshold% -> entityId 
    # Pollution threshold is the minimum percentage of pollution required to impact the specified entity.
    S:immuneEntities <
     >

    sulfur {
        # Effects spreading through air.
        S:air <
            190% -> minecraft:weakness
            195% -> minecraft:slowness
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
            minecraft:poison
         >

        # Effects spreading through rain.
        S:rain <
            200% -> minecraft:poison
         >
    }

    dust {
        # Effects spreading through air.
        S:air <
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

    carbon {
        # Effects spreading through air.
        S:air <
            150% -> minecraft:mining_fatigue
         >

        # Effects spreading through contact.
        S:contact <
            minecraft:blindness
         >

        # Effects spreading through rain.
        S:rain <
         >
    }

}


